a{
    font-size: 20px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    width: fit-content;
    text-align: center;
    border-color: black;
    min-width: 30px;
    margin-left: 5px;
}
.Linha2{
    display: flex;
    flex-direction: row;
}
.Linha3{
    display: flex;
    flex-direction: row;
}
.Linha4{
    display: flex;
    flex-direction: row;
}
.Linha5{
    display: flex;
    flex-direction: row;
}
.Linha6{
    display: flex;
    flex-direction: row;
}

.teclado 
button {
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
   }
   
   button:hover {
    box-shadow: rgb(163, 14, 37) 0px 7px 0px 0px;
   }
   
   button:active {
    background-color: rgb(255, 56, 86);
    /*50, 168, 80*/
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
   }

   .espaco
   {
    width: 300px;
    
   }
   .setas{
    display: flex;
    flex-direction: column;
   }